<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="лабораторное оборудование, оборудование для лабораторий, реактивы для лабораторий, купить киев, тест системы"/>
	<meta name="description" content="Лабораторное оборудование, тест системы, Екомедтест, лабораторное оборудование, оборудование для лабораторий, реактивы для лабораторий,">
	<meta name="copyright" content="ЕКОМЕДТЕСТ" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="stylesheet" href="../public/libs/font-awesome/css/font-awesome.min.css"/>
	<link rel="shortcut icon" href="../public/img/ekomed_fav_icon.png" type="image/svg">
	<link rel="stylesheet" href="../public/libs/bootstrap grid/bootstrap-grid.min.css">
	<title>ЕКОМЕДТЕСТ</title>
</head>
<body>
<nav>
	<div class="nav_conteiner">
		<ul>
		<li><i class="fa fa-envelope" aria-hidden="true"></i>info@ecomedtest.com.ua</li>
		<li><i class="fa fa-phone" aria-hidden="true"></i>+38 (044) 536 03 23</li>
		<a href="#section_form" class="go_call"><li><i class="fa fa-phone-square" aria-hidden="true"></i>Замовити дзвінок</li></a>
		</ul>
	</div>
</nav>
	<header class='parallax-window' data-parallax="scroll" data-image-src="../public/img/dnk_peptid.jpg">
		<div class="header">
		<div class="header_content">
			<div class="header_in">
				<div class="header_last"><img src="public/img/ekomed_logo_white.svg" alt="">
					<h1>ЕкоМедТест</h1>
					<h2>Сертифіковані тест системи та лабораторне обладнання</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="to_down">
			<div class="mouse-icon">
				<div class="whell">
				</div>
			</div>
		</div>
	</header>
	<section class="second_section">
			<h1 class="h1">Товариство з обмеженною діяльністю "ЕКОМЕДТЕСТ" пропонує</h1>
				<div class="second_sect_wrap_fisrt">
					<div class="container">
						<div class="row">
							<div class="col-sm-6"><p>Імуноферментна діагностика</p><img src="public/img/diagnostika-xlamidioza-1.jpg" alt="Імуноферментна діагностика"><p>Тест системи для проведення ІФА (імуноферментного аналізу) - сучасний метод лабораторної діагностики інфекцій, що передаються статевим шляхом, інфекційних і паразитарних захворювань, визначення рівня гормонів щитовидної залози і статевих гормонів, виявлення алергенів, онкомаркерів, заснований на специфічній реакції «антиген-антитіло». Це метод дозволяє показувати не тільки наявність або відсутність антигенів або антитіл, але і визначати їх кількості.</p></div>
							<div class="col-sm-6"><p>Діагностичні системи для ПЛР</p><img src="public/img/pcr.jpg" alt="Діагностичні системи для ПЛР"><p>Тест системи для проведення ПЛР - метод молекулярної діагностики, що став для ряду інфекцій «золотим стандартом», перевірений часом і ретельно апробовано клінічно. Метод ПЛР дозволяє визначити наявність збудника захворювання, навіть якщо в пробі присутні всього кілька молекул ДНК збудника.
			ПЛР дозволяє діагностувати наявність довго зростаючих збудників, не вдаючись до трудомістким мікробіологічних методів, що особливо актуально в гінекології і урології при діагностиці урогенітальних інфекцій, що передаються статевим шляхом.</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="second_sect_wrap_second">
					<div class="container">
						<div class="row">
							<div class="col-sm-4"><p>Діагностика аллергенів(сумiши)</p><img src="public/img/atest.jpg" alt="Діагностика аллергенів"><p>
			Визначення концентрації аллергенспецифических IgE має велике значення в діагностиці алергічних захворювань для встановлення спектра причинно-значущих алергенів. Високі рівні IgE-антитіл до окремих алергенів є важливим прогностичним параметром, що вказує на приховану сенсибілізацію з високим ризиком розвитку алергії, що особливо актуально в практиці.</p></div>
							<div class="col-sm-4"><p>Швидкі тести</p><img src="public/img/express-test.jpeg" alt="Швидкі тести"><p>Сучасний метод виявлення маркерів інфекцій та  онкологічних захворювань. Швидкі тести можуть використовуватися, як в домашніх умовах так і в лікувальних закладах, а також при скринінгових обстеженнях великих колективів. Вони прості в використанні та доступні по ціні. Всі експрес-тести сертифіцированы і мають свідоцтва про державну реєстрацію МОЗ України.
</p></div>
							<div class="col-sm-4"><p>Дозуючі пристрої</p><img src="public/img/dosator.jpg" alt="Лабораторне обладнання"><p>Механічні дозатори змінного і фіксованого об'єму, розроблені для різних видів щоденної лабораторної роботи. Вони дозволяють дозувати різні об'єми, поєднують в собі ергономічний дизайн з високими показниками точності і відтворюваності при дозуванні. Вони забеспечують чистоту дозування, без забруднень, та високий ступінь опору до хімічних речовин.
			</p></div>
						</div>
					</div>
				</div>
				<div class="scrolling">
					<a href='#' id='Go_Top'>
            <img src="public/img/go-up_blue.png" alt="Вгору">
              </a>
				</div>
          
	</section>
	<section id="third_section" class='parallax-window_third_sect' data-parallax="scroll" data-image-src="public/img/5bee.jpg">
		<div class="third_sect">
			<div class="third_sect_in">
				<div class="third_sect_last">
					<div>Екомедтест пропонує сучасні рішення для медичних, науково-дослідницьких і ветеринарних лабораторій, а так само запрошує до співпраці.</div>
					<div>Компанія займається поставками високоякісної продукції найбільших українських і зарубіжних виробників тест систем та лабораторного обладнання.</div>
					<div>Спектр пропонованої нами продукції в повному обсязі відповідає запитам сучасниx лабораторій України. Наша компанія зацікавлена в поставках високої якості продукції для досягнення високої точності діагностики.</div>
					<div>Ми працюємо як на терені України, так і за кордоном. Ми намагаємося стримувати мінімальну ціну на продукт, що поставляється нами, для більшої доступності держспоживача.</div>
					<div>Ми гарантуємо високоякісний продукт, індивідуальний підхід до кожного клієнта, гнучку систему знижок і завжди вигідну пропозицію.</div>
					<div>Ціни на нашу продукцію можна дізнатися заздалегідь, зв'язавшись з нашим менеджером, наприклад, через функцію «Передзвонити мені».</div>
					
					<a class='go_call' href="#section_form"><input id='callback_btn' type="button" value="Замовити дзвінок"></a>
				</div>
			</div>
		</div>
	</section>
	<section id="four_section">
		 <div id="viewport">
            <ul id="slidewrapper">
                <li class="slide"><img src="../public/img/slideImg/img6.jpg" alt="1" class="slide-img"></li>
                <li class="slide"><img src="../public/img/slideImg/img02.png" alt="2" class="slide-img"></li>
                <li class="slide"><img src="../public/img/slideImg/img03.jpg" alt="3" class="slide-img"></li>
                <li class="slide"><img src="../public/img/slideImg/img04.jpg" alt="4" class="slide-img"></li>
            </ul>

            <div id="prev-next-btns">
                <div id="prev-btn"></div>
                <div id="next-btn"></div>
            </div>

            <ul id="nav-btns">
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
                <li class="slide-nav-btn"></li>
            </ul>
        </div>
	</section>
	<section id="section_form" class='parallax-window_form_sect' data-parallax="scroll" data-image-src="../public/img/form_doc.jpg">
		<div class="section_form">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-3">
						<div class="h2"><h2>ЕКОМЕДТЕСТ турбується про кожного клієнта!</h2></div>
					</div>
					<div class="col-md-3 col-sm-1"></div>
					<div class="col-md-5 col-sm-8"><div class="logo_img"><img src="public/img/ekomed_logo_white.svg" alt="ЕкоМедТест"></div>
						<form class='form_action' action="/send" method='POST'><p class="text_info_upper">Форма зворотньюго зв'язку</p>
								<input type="text" name="name_company" placeholder="Назва організації (Замовника)" required >
								<input type="text" name="user_name" placeholder="Контактна особа" required>
								<input type="text" name="phone" placeholder="Номер телефону" required>
								<input type="text" name="email" placeholder="Электронна адреса" required>
								<input type="submit" name="submit" value="Відіслати">

							</form>
							{{msg}}
							<div class="text_info">
								<p>*Будь-ласка, заповніть форму на отримання зворотньюго зв'язку та отримайте інформацію від нашого менеджера (приблизний час очікування дзвінка 10-15 хвилин). Якщо дзвінок був замовлений у неробочий час, наш менеджер зв'яжеться з Вами наступного робочого дня з 10 до 17 години.</p>
							</div>
							</div>
					
					
				</div>
			</div>	
		</div>
	</section>
	<footer class="footer">
		<div class="footer_in">
			<div class="container">
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8"><p>Україна, 04074, м.Київ, вул.Лугова,9, e-mail: info@ecomedtest.com.ua</p>
© 2017 ecomedtest.com.ua</div>
	

					<div class="col-sm-2"></div>
				</div>
			</div>
		</div>
	</footer>

	<script src='../public/libs/jquery/jquery-3.2.1.min.js'></script>
	<script src='../public/libs/jquery/parallax.min.js'></script>
	<script type="text/javascript" src='../public/js/main.js'></script>
</body>
</html>